:root {
    --primary: #4BC2EF;
    --primary-hover: #369FCE;
    --primary-light: #ffffff;
    --primary-light-hover: #6EC9EA;
    --primary-dark: #403C01;
    --primary-dark-hover: #403C01;
    --secondary: #A60311;
    --secondary-hover: #8d0510;
    --secondary-dark: #B33433;
    --aux: #D9D491;
    --aux-hover: #b8b47d;
    --font-dark: #212121;
    --font-light: #FFFEF0;
    --disabled-dark: #8b8b8b62;
    --disabled: #B8B8B8;
    --card-size: 550px;
}

@font-face {
    font-family: 'Bootstrap Icons';
    src: url('../fonts/bootstrap-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('../fonts/Oswald/Oswald-Bold.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Medium';
    src: url('../fonts/Oswald/Oswald-Medium.woff2') format('truetype');
    font-weight:700;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/Oswald/Oswald-Medium.woff2') format('truetype');
    font-weight:500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins/Poppins-Medium.woff2') format('truetype');
    font-weight:700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('truetype');
    font-weight:500;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0% !important;
    color: var(--font-dark);
    background-color: var(--font-light);
}

/* CSS para desativar a barra de rolagem horizontal durante a animação shake */
body.shake-animation-active {
    overflow-x: hidden;
}

/* LINK */

body a {
    color: #A60311;
    font-weight:bold;
    word-wrap: break-word;
}


body::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    border-radius: 20px;
    border: 3px solid var(--font-light);
}

p {
    font-size: 1em;
}

.row {
    --bs-gutter-x: 0 !important;
}

.background-image {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 5%, rgba(0, 0, 0, 0) 60%), url(../image/fundo_capa.png);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mosquito {
    width: 50%;
}

.logo {
    width: 50%;
    padding-top: 5rem;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--aux);
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}



#capa {
    overflow: hidden;
}

.offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.offcanvas.open {
    opacity: 1;
    visibility: visible;
}

/* UTILITARIOS */

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.min-vh-50 {
    min-height: 50vh !important;
}

.w-20 {
    width: 20% !important;
}

.padding-container {
    padding: 4rem;
}

.padding-x-container {
    padding-right: 4rem;
    padding-left: 4rem;
}

.text-justify {
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
    overflow-wrap: normal !important;
    word-break: break-word !important;
    -webkit-hyphenate-limit-before: 4;
    -ms-hyphenate-limit-chars: 4;
    text-justify: inter-word;
    word-wrap: break-word;
}

.line {
    width: 50%;
    height: 3px;
    background-color: var(--primary);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pt-custom {
    padding-top: 8rem; /* ou o valor que desejar */
}

.carousel-person {
    height: 600px;
}

#creditos {
    margin-top: 3%;
    margin-bottom: 5%;
}

/* CORES */

.primary {
    color: var(--primary) !important;
}


.primary-light {
    color: var(--primary-light) !important;
}

.primary-dark {
    color: var(--primary-dark) !important;
}

.primary-dark-hover {
    color: var(--primary-dark-hover) !important;
}

.secondary {
    color: var(--secondary) !important;
}

.secondary-hover {
    color: var(--secondary-hover) !important;
}

.secondary-dark {
    color: var(--secondary-dark) !important;
}

.secondary-light {
    color: var(--secondary-light) !important;
}

.aux {
    color: var(--aux) !important;
}

.desativado {
    color: gray !important;
}

.ajuste-video {
    width: 90%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* BACKGROUND */

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-aux-hover {
    background-color: var(--aux-hover) !important;
}

.bg-secondary-dark {
    background-color: var(--secondary-dark) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary-dark-hover {
    background-color: var(--primary-dark-hover) !important;
}

.bg-primary-dark {
    background-color: var(--primary-dark) !important;
}

.bg-primary-hover {
    background-color: var(--primary-hover) !important;
}

.bg-primary-light {
    background-color: var(--primary-light) !important;
}

.bg-aux {
    background-color: var(--aux) !important;
}

/* FONTES */

.font-Poppins,
.font-Poppins b {
    font-family: 'Poppins', sans-serif;
}

.capitulo-capa {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 15rem;
}




.titulo-capa {
    font-size: 2rem;
}

.sub-titulo {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 4rem;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.sub-titulo-capa {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 4rem;
    margin: 0 auto;
    line-height: 2.8rem;
}

.sub-titulo-dois {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0 auto;
}

.titulo-italico {
    font-weight: 300;
    font-style: italic;
    line-height: 0rem;
    padding-bottom: 2rem;
}

.titulo-pergunta {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 4rem;
}


.titulo {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: rem;
}

.titulo-quebra {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 3rem;
    
}

.tituloZ {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 6rem;
}

.titulo-unidade {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1rem;
}

.titulo-material {
    font-size: 3rem;
    font-weight: 300;
}

.padding-custom {
    padding-top: 3rem;
}

b,
.bold {
    font-weight: 600;
}

.medium {
    font-weight: 700;
}

small {
    font-size: 0.8rem;
}

/* BOTOES */

.button,
.button.btn-outline:hover {
    background-color: var(--primary-dark);
    border-radius: 3rem;
    padding: 0.3rem;
    border: 2px solid var(--primary-dark);
    color: var(--font-light);
    text-align: center;
    transition: 0.3s;
}

a.button {
    display: block;
    text-decoration: none;
}

.button.btn-col-2 {
    width: 48%;
}

.button.btn-col-3 {
    width: 32%;
}

.button:hover {
    border: 2px solid var(--primary-dark-hover);
    background-color: var(--primary-dark-hover);
}

.button.btn-outline {
    background-color: transparent;
    color: var(--primary-dark-hover);
    font-weight: 500;
}

.button.btn-secondary {
    background-color: var(--secondary);
    border: 2px var(--secondary);
}

.button.btn-secondary:hover {
    background-color: var(--secondary-hover);
    border: 2px var(--secondary-hover);
}

.button.btn-aux-responder {
    font-weight: bold;
    color: var(--font-dark);
    background-color: var(--aux);
    border: 2px var(--aux);
}

.button.btn-aux-responder:hover {
    background-color: var(--aux-hover);
    border: 2px var(--aux-hover);
}

.button.btn-aux {
    color: var(--font-dark);
    background-color: var(--aux);
    border: 2px solid var(--aux);
    font-weight: bold;
}



.button.btn-aux.clicado {
    background-color: var(--primary-dark-hover);
    color: var(--font-light);
    border-color: var(--primary-dark-hover); /* Adicione a cor da borda ativa */
}



.button.btn-primary {
    background-color: var(--primary);
    border: 2px var(--primary);
}

.button.btn-primary:hover {
    background-color: var(--primary-hover);
    border: 2px var(--primary-hover);
}

.button.btn-light {
    background-color: var(--font-light);
    color: var(--primary-dark-hover);
    border: none;
}

.button.btn-light.active {
    background-color: var(--primary-dark-hover);
    color: var(--font-light);
}

.circle {
    border-radius: 100%;
    width: 15px !important;
    height: 15px !important;
}

/* MODAL  */

kbd {
    color: var(--font-dark);
    background-color: #ffffff;
    
}


.modal-conteudo {
    background-color: var(--aux);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 1.4rem !important;
    
}

.div-modal-orientacao {
    width: 108rem; /* Definindo a largura em pixels */
    height: 35rem; /* Definindo a altura em pixels */
    max-width: 100%; /* Garante que a largura não exceda a largura do contêiner pai */
    max-height: 100%; /* Garante que a altura não exceda a altura do contêiner pai */
    overflow: auto; /* Adiciona barras de rolagem quando necessário */
}

.div-modal-orientacao::-webkit-scrollbar,
.box-scrool::-webkit-scrollbar {
    width: 12px;
}

.div-modal-orientacao::-webkit-scrollbar-track,
.box-scrool::-webkit-scrollbar-track {
    background: transparent;
}

.div-modal-orientacao::-webkit-scrollbar-thumb,
.box-scrool::-webkit-scrollbar-thumb {
    background-color: var(--aux);
    border-radius: 20px;
    border: 3px solid var(--aux);
}


/* Estilos para WebKit (Chrome, Safari, Opera) */
.div-modal-orientacao::-webkit-scrollbar {
    width: 12px;
}

/* Accordion - Animacao */

.accordion-button {
    color: var(--primary-dark) !important;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: var(--aux);
}

/* OTHERS */

.box-saiba-mais {
    background-color: var(--aux);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-saiba-mais-float {
    background-color: var(--aux);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.box-img {
    border-radius: 1rem;
    background-color: var(--primary-dark-hover);
    margin-top: 3%;
    margin-bottom: 3%;
}

.img-estrutura {
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%)!important;
    width: 75% !important;
}


.background-image {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 5%, rgba(0, 0, 0, 0) 60%), url(../image/fundo_capa.png);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para o fundo borrado com desfoque */
.borrado::before {
    content: '';
    position: absolute;
    top: -10px; /* Ajuste conforme necessário para cobrir as bordas */
    left: -10px; /* Ajuste conforme necessário para cobrir as bordas */
    right: -10px; /* Ajuste conforme necessário para cobrir as bordas */
    bottom: -10px; /* Ajuste conforme necessário para cobrir as bordas */
    background-image: inherit;
    filter: blur(10px); /* Ajuste o valor de desfoque conforme necessário */
    z-index: -1;
}




/* Estilo para o fundo borrado */
.borrado {
    position: relative;
}

.carousel-person {
    height: 600px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    max-height: 600px; /* Define a altura máxima para cada item do carrossel */
    width: 100%;
}

.carousel-indicators .active {
    background-color: var(--secondary);
}

@media (min-width: 992px) {
    
    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .padding-desk-5 {
        padding: 5% !important;
    }

    .padding-desk-3 {
        padding: 3% !important;
    }

   
}

@media (max-width: 992px) {
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .titulo-capa {
        font-size: 1.8rem;
    }

    .capitulo-capa {
        font-size: 10rem;
        text-align: center;
    }

    .modulo-capa {
        font-size: 8rem;
        font-weight: 900;
    }

    .padding-container {
        padding: 2rem;
    }

    .padding-x-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .titulo {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.5rem;
    }


    #creditos {
        margin-top: 8%;
        margin-bottom: 15%;
    }
    

}

@media (max-width: 1224px) {
    .carousel-indicators {
        position: relative;
    }
}

@media (max-width: 767px) {

    .carousel-indicators {
        position: relative;
    }
    
    .pt-mobile-5 {
        padding-top: 5%;
    }

    .py-mobile-5 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .padding-container {
        padding: 1.2rem;
    }

    .padding-x-container {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }

    .titulo-capa {
        font-size: 1rem;
    }

    .capitulo-capa {
        font-size: 5rem;
        text-align: center;
    }

    .modulo-capa {
        font-size: 3.5rem;
        font-weight: 900;
    }

    .padding-y-mobile-5 {
        padding-top: 5% !important;
        padding-bottom: 5% !important;
    }

    .padding-x-mobile-3 {
        padding-left: 3% !important;
        padding-right: 3% !important;
    }

    .capitulo-capa {
        display: none;
    }

    .pt-md-0 {
        padding-top: 0% !important;
    }

    .pt-md-5 {
        padding-top: 3rem !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .small-sm {
        font-size: 0.6rem;
    }

    #creditos {
        margin-top: 15%;
        margin-bottom: 25%;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .carousel-person {
        height: 750px;
    }
}

@keyframes fadeInPopup {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes scalePopup {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
  }

@media (max-width: 767px) {
    .sub-titulo {
        width: 100%; /* Define a largura como 100% em telas com largura máxima de 767px (dispositivos móveis) */
        font-size: 2rem;
    }
}


@media (max-width: 425px) {
    .sub-titulo {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2.3rem;
    }
}

@media (max-width: 425px) {
    .titulo-unidade {
        font-size: 1rem;
    }
}

@media (max-width: 282px) {
    .titulo-unidade {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 575px) {
    .box-cust {
       margin-bottom: 2rem !important;
    }
}

@media (max-width: 1306px) {
    .carousel-indicators {
        align-items: baseline;
        
    }
    

}

@media (max-width: 768px) {
    .carousel-control-next-icon {
        display: none;
        
    }

    .carousel-control-prev-icon {
        display: none;
        
    }
}

@media (max-width: 410px) {
    .carousel-indicators {
        display: flex;
        
    }
    

}

@media (max-width: 991px) {
    .imagem-menor {
        max-width: 300px; /* Defina o tamanho máximo que você deseja para a imagem */
    }
}

@media (min-width: 796px) {
    .d-flex.col-6.py-4 button {
        border-radius: 50px; /* ou outro valor adequado */
    }
}

@media (max-width: 991px) {
    .background-image {
    backdrop-filter: blur(4px); /* efeito de blur */
    }
}
@media (min-width: 992px) and (max-width: 1547px) {
    .container-capa {
        flex: 0 0 50%; /* Definindo 50% de largura em telas grandes */
        max-width: 50%; /* Definindo 50% de largura em telas grandes */
    }
}

@media (max-width: 710px){
    .btn-cust {
        width: auto;
        height: 3rem;
        font-size: 1rem;
    }
}

@media (max-width: 614px){
    .btn-cust {
        width: auto;
        height: 3rem;
        font-size: 0.8rem;
        font-weight: bolder;
    }
}

/* Aplica o desfoque apenas quando a largura da tela for menor ou igual a 991px */
@media (max-width: 991px) {
    .borrado::before {
        filter: blur(3px); /* Ajuste o valor de desfoque conforme necessário */
    }
}

@media (max-width: 477px) {
    .titulo-italico {
        line-height: 2rem;
        
    }
    
}

@media (max-width: 318px) {
    .titulo-pergunta {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 3rem;
        text-align: justify;
    }

    label  {
        font-size: 1rem;
    }
    
}


@media (max-width: 998px) {
    .mosquito {
        width: 40%;
    }

    .logo {
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 2.2rem;
    }
    
}

@media (max-width: 425px) {
    .mosquito {
        width: 70%;
    }
    
}

@media (max-width: 575px) {
    .botao-capa {
        margin-top: 2.5rem;
    }
    
}



@media (max-width: 989px) {
    .texto-capa {
        width: 70% !important;
        margin: 0 !important;
    }
}

@media (max-width: 991px) {
    #sobre.pt-sm-5 {
        padding-top: 3rem !important; /* Você pode ajustar o valor conforme necessário */
    }
}

@media (max-width: 575px) {
    .retorno .explicacao {
        padding: 1.25rem !important; /* Mantém o padding mesmo em telas menores */
    }
}

@media (max-width: 425px) {
    .opcoes label {
        display: flex;
        flex-direction: column; /* Inverte a direção da coluna */
        align-items: flex-start !important; /* Alinha os itens no início (no topo) */
    }
    
    .opcoes label span {
        margin-bottom: 0.5rem; /* Adiciona um espaçamento entre a bolinha e o texto */
    }
}

@media (max-width: 742px) {
   .titulo-pergunta {
    line-height: 1.5rem;
   }
}

@media (max-width: 425px) {
    .texto-capa {
     width: 100% !important;
    }

    .tituloZ {
        font-size: 4.30rem;
       }
 }

 @media (max-width:  320px) {

body {
    font-size: 16px;
}
    .sub-titulo-capa {
     font-size: 1.8rem;
    }

    .tituloZ {
        font-size: 3.30rem;
        line-height: 3rem;
       }

       .texto-capa {
        width: 100% !important;
       }

      
 }
 

 .mapa {
    width: 70%; /* Alterando a largura para ocupar 100% da largura da coluna */
    height: auto;
    display: block; /* Garante que a imagem se comporte como um elemento de bloco */
    margin: 0 auto; /* Define margem automática na parte superior e inferior e centraliza horizontalmente */
    max-width: 100%; /* Certifica-se de que a imagem não ultrapasse o tamanho do seu contêiner */
}

@media (max-width: 768px) {
    .mapa {
        width: 100%; /* Alterando a largura para ocupar 100% da largura da coluna */
    }

}



 .div-animada-conteudo {
    padding: 1rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-animada {
    width: calc(100% - 1rem); /* Metade da largura da coluna com 1rem de espaço entre elas */
    height: 7.5rem; /* Altura fixa */
    max-width: 47.5rem; /* Limitando a largura máxima */
    margin: 0.5rem; /* Espaçamento entre as divs */
}

@media (max-width: 768px) {
    .div-animada {
        width: calc(100% - 1rem); /* Largura total da coluna com 1rem de espaço entre elas */
    }

    .div-animada-conteudo {
        font-size: 16px;
    }
}

@media (max-width: 1440px) {
    .div-animada-conteudo {
        font-size: 16px;
        padding: 0;
    }
}

@media (max-width: 320px) {
    .div-animada-conteudo {
        font-size: 13px;
        padding-top: 1rem;
    }
}

.btn-mapa {
    width: 20px;
    height: 20px;
    border: none;
    padding: 1.2rem;
    margin-left: 1rem;
}

@media (max-width: 375px) {
    .btn-mapa {
        margin-left: 0.5rem;
    }
}

@media (max-width: 991px) {
    .box-saiba-mais-float {
        margin-bottom: 3rem;
        border-radius: 0% !important;
    }
}