.btn-panel {
    border: none;
    border-bottom: 1px solid var(--disabled);
    background-color: transparent;
    color: var(--disabled);
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-panel.active, .btn-panel:hover {
    border-bottom: 2px solid var(--primary-dark);
    color: var(--primary-dark);
}


.btn-ciclo-mpox {
    border: none;
    background-color: transparent;
    position: absolute;
    height: 5%;
    width: 4%
}

.btn-ciclo-mpox.btn-ciclo-1 {
    top: 23%;
    left: 22%
}

.btn-ciclo-mpox.btn-ciclo-2 {
    top: 24%;
    left: 71%
}

.btn-ciclo-mpox.btn-ciclo-3 {
    top: 88%;
    left: 49%;
}

.btn-ciclo-mpox.btn-ciclo-4 {
    top: 39%;
    left: 61%
}

.btn-ciclo-mpox.btn-ciclo-5 {
    top: 72%;
    left: 55%
}