.btn-panel {
    border: none;
    border-bottom: 1px solid var(--disabled);
    background-color: transparent;
    color: var(--disabled);
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-panel.active, .btn-panel:hover {
    border-bottom: 2px solid var(--primary-dark);
    color: var(--primary-dark);
}

.btn-ciclo-mpox {
    border: 10px;
    background-color: transparent;
    position: absolute;
    height: 5%;
    width: 4%
}

.btn-ciclo-mpox.btn-ciclo-1 {
    top: 8%;
    left: 49%;
}

.btn-ciclo-mpox.btn-ciclo-info-1 {
    top: 8%;
    left: 72%;
}

.btn-ciclo-mpox.btn-ciclo-2 {
    top: 35%;
    left: 66%;
}

.btn-ciclo-mpox.btn-info-2 {
    top: 39%;
    left: 87%;
}

.btn-ciclo-mpox.btn-ciclo-3 {
    top: 54%;
    left: 41%;
}
.btn-ciclo-mpox.btn-info-3 {
    top: 66%;
    left: 20%;
}
.btn-ciclo-mpox.btn-ciclo-4 {
    top: 38%;
    left: 28%;
}
.btn-ciclo-mpox.btn-info-4 {
    top: 50%;
    left: -1%;
}

.btn-ciclo-mpox.btn-ciclo-5 {
    top: 68%;
    left: 61%;
}

.btn-ciclo-mpox.btn-ciclo-6 {
    top: 13%;
    left: 45%;
}
.btn-ciclo-mpox.btn-info-6 {
    top: 13%;
    left: 26%;
}
  .tooltip-inner {
    font-size: 1.5rem;
    background-color: var(--primary-dark); /* Cor de fundo desejada apenas para tooltips especiais */
    color: var(--primary-light)
  }
  
  @media (max-width: 1200px){
    .tooltip-inner {
        font-size: 1rem;
      }
}