:root {
  
  
  --primary-dark: #403C01;
  --primary-dark-hover: #403C01;
  --aux: #D9D491;
  --font-dark: #212121;
  --font-light: #FFFEF0;

}


.bg-primary-dark {
  background-color: var(--primary-dark) !important;
}

/* CAIXA DE PERGUNTA */


.pergunta {
  width: 700px;
  height: auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.opcoes label {
  color: var(--font-light);
  display: flex; /* Adiciona flexbox */
  align-items: center; /* Alinha os itens verticalmente */
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.opcoes label:hover {
  color: rgb(212, 211, 211);
  display: flex; /* Adiciona flexbox */
  align-items: center; /* Alinha os itens verticalmente */
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.opcoes label span {
  font-weight: 700;
  color: black;
  display: inline-block;
  width: 30px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid var(--font-dark);
  text-align: center;
  line-height: 20px;
  margin-right: 16px;
  background-color: white;
   display: inline-flex; /* Alterado para inline-flex para alinhamento flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.opcoes label:hover span {
  background-color:rgb(105, 105, 105); /* Cor mais escura ao passar o mouse para a letra */
  color: #fff; /* Texto branco para a letra ao passar o mouse */
}

.opcoes label input[type="radio"] {
  display: none; /* Oculta o botão de rádio padrão */
}

.opcoes label input[type="radio"]:checked + span {
  background-color: var(--font-dark);
  color: var(--primary-dark);
}


.retorno {
  display: none;
}

.explicacao {
  font-weight: bold;
  color: green;
}

.opcao-correta {
  color: lightgreen !important;
}

.opcao-incorreta {
  color: salmon !important;
}

/* POP-UP */
.popup {
  display: none;
  position: fixed;
  top: 20px; /* Alterado para 20px do topo */
  left: 50%;
  transform: translateX(-50%); /* Mantém o popup centralizado horizontalmente */
  z-index: 9999;
  padding: 1px;
  animation: fadeInPopup 0.5s ease;
  border-radius: 0 2rem 0 2rem;
}


.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 2rem;
  border-radius: 0 2rem 0 2rem;
  animation: scalePopup 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  background-clip: padding-box;
  border: thin solid
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo escuro com 50% de opacidade */
  z-index: 9998; /* Certifica-se de que o overlay esteja atrás do pop-up */
  display: none; /* Inicialmente oculto */
}

.pop-text {
  font-weight: 600;
}

/* ANIMAÇÃO DA CAIXA DE PERGUNTA */

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@keyframes fadeInPopup {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scalePopup {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}

.shake-animation {
  animation: shake 0.5s ease;
}

